* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
}

/* Utility Classes */

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.border {
    border-bottom: 1px solid #ececec;
}


/* Layout */

header {
    padding: 0.8em 1.2em;
    align-items: center;
    position: relative;
}

.site-logo {
    width: 10%;
    max-width: 28px;
}

.site-title {
    margin-left: 10px;
    font-weight: 700;
}

nav {
    background-color: #202020;
    width: 150px;
    height: 40vh;
    position: absolute; 
    top: 0;
    right: 0;
}

nav > ul {
    list-style: none;
    padding-left: 0.5em;
    margin: 1.2em 0;
}

ul > li {
    margin-bottom: 0.5em;
}

.hero {
    background: url('./images/hero-img.jpg');
    background-size: cover;
    color: #fff;
    padding: 6em 1.5em 1.5em;
}

.hero-subtitle,
.hero-title,
.hero-body {
    margin: 0;
    text-shadow: 0 0 8px black;
}

.hero-subtitle {
    font-size: 0.9rem;
}

.hero-title {
    font-size: 2rem;
    margin: 0.4em 0;
}

.blog-post {
    width: 90%;
    margin: 0 auto;
    padding: 1.2em 0;
}

.blog-post-img {
    width: 100%;
    display: block;
    margin-bottom: 1em;
}

.blog-post-subtitle,
.blog-post-body {
    margin: 0;
    color: #505050;
}

.blog-post-subtitle {
    font-size: 0.9rem;
    color: #000;
}

.blog-post-title {
    margin: 0.2em 0;
    font-size: 1.5rem;
    color: #141414;
}

footer {
    background-color: #202020;
    text-align: center;
    padding: 1.8em 0;
}

.footer-title {
    color: #ececec;
    font-size: 0.9rem;
    margin: 0 0 0.3em;
}

.copyright {
    color: #d7d7d7;
    font-size: 0.8rem;
    margin: 0;
}

/* Buttons & Links */

#menu-btn {
    width: 20px;
    margin-left: auto;
}

.close-menu-btn {
    margin: 0.2em 0.4em 0 0;
    text-align: right;
    color: #ececec;
    font-weight: 700;
    font-size: 1.6rem;
}

.nav-link {
    color: #ececec;
    font-size: 1.1rem;
    text-decoration: none;
    cursor: default;
}

#btn-expand-posts {
    display: block;
    margin: 0 auto 2em;
    color: #000;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    border: none;
    background-color: inherit;
}

#menu-btn:hover,
#btn-expand-posts:hover,
.close-menu-btn:hover,
.hover:hover,
.hover:active {
    cursor: pointer;
    opacity: 0.7;
}
